# Entorno virtual
.venv/
env/
venv/

# Caché de Python
**/__pycache__/
*.py[cod]

# Variables de entorno (Seguridad)
.env.*

# Bases de datos y almacenamiento persistente (Docker)
db_data/
chromadb/

# Logs y Archivos Temporales
*.log
.gemini/
.idea/
.vscode/
.DS_Store

# Caché de Python y Compilados
**/__pycache__/
*.py[cod]
*$py.class